:root {
  --main-bg-color: #f4f4f4;
  --text-color: #333;
  --link-color: #007BFF;
  --link-hover-color: #0056b3;
  --box-shadow-color: rgba(0,0,0,0.1);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  color: var(--text-color);
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  margin-left: 50px; /* Add margin to the left of h2 */
}

h3 {
  font-size: 1.5em;
}

img {
  max-width: 300px; /* Ancho máximo de la imagen */
  width: 100%; /* La imagen ocupa el 100% del ancho de su contenedor padre */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  border-radius: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%; /* Ensure ul takes the full width */
}

li {
  margin-bottom: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px var(--box-shadow-color);
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
}

li:hover {
  box-shadow: 0px 0px 15px 0px var(--box-shadow-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.3s ease; /* Smooth transition for link color */
}

a:hover {
  color: var(--link-hover-color);
}

.titulo-recetas {
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
   
  }

  h3 {
    font-size: 1.25em;
 
  }

  img {
    width: 100%; /* Full width images on smaller devices */
    height: auto;
  }
}